.upload-modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: black;
  // opacity: 0.5;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  .close-modal {
    display: flex;
    justify-content: flex-end;
    padding: 10px;

    &:hover {
      cursor: pointer;
      color: #e7065e;
    }
  }

  .upload-modal {
    width: 90vw;
    height: 90vh;
    margin: 20px;
    outline: none;
    border: 1px solid #eeeff2;
    border-radius: 3px;
    box-shadow: 0 2px 25px rgba(0,0,0,0.2);
    background-color: white;

    .upload-form-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 90%;

      button {
        background-color: #34bf49;
        color: white;
        padding: 10px 20px;
        outline: none;
        border: 1px solid #34bf49;
        border-radius: 20px;
        font-weight: bold;
        font-size: 16px;

        &:hover {
          background-color: #38cf4f;
          cursor: pointer;
        }
      }
    }
  }

}
