// Modal
.upload-modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: black;
  // opacity: 0.5;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  .close-modal {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    position: absolute;

    &:hover {
      cursor: pointer;
      color: #e7065e;
    }
  }

  .upload-modal {
    width: 90vw;
    height: 90vh;
    margin: 20px;
    outline: none;
    border: 1px solid #eeeff2;
    border-radius: 3px;
    box-shadow: 0 2px 25px rgba(0,0,0,0.2);
    background-color: white;

    .upload-form-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 90%;

      button {
        background-color: #e7065e;
        color: white;
        padding: 10px 20px;
        outline: none;
        border: 1px solid #e7065e;
        border-radius: 20px;
        font-weight: bold;
        font-size: 16px;

        &:hover {
          background-color: #e7065e;
          cursor: pointer;
        }
      }
    }
  }
}

// Actual form
.upload-form {
  display: grid;
  grid-template-columns: 70% 30%;
  // align-items: center;
  height: 96%;

  .upload-form-image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-right: 1px solid black;

    input[type=file] {
      margin-top: 20px;
      background-color: #e7065e;
      color: white;
      padding: 10px 20px;
      outline: none;
      border-radius: 20px;
      font-weight: bold;
      font-size: 16px;
      width: 111px;
      margin-top: -42px;
      opacity: 0;
    }

    .fake-select-photo {
      margin-top: 20px;
      background-color: #e7065e;
      color: white;
      padding: 10px 20px;
      outline: none;
      border: 1px solid #e7065e;
      border-radius: 20px;
      font-weight: bold;
      font-size: 16px;
      width: 150px;

      &:hover {
        background-color: black;
      }
    }
  }

  img {
    width: 70%;
    height: auto;
  }
}
