@-webkit-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1;}
}

#iso-app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  -webkit-animation: fadein 1.3s;

  #navbar-main-logged-in {
    display: flex;
    align-self:flex-start;
    min-width: 600px;
    width: 100%;
    margin-bottom: 50px;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 0;
    height: auto;

    .navbar-left {
      display: flex;
      align-items: center;

      #logo {
        color: black;
        margin-left: 50px;
      }

      .navbar-links {
        margin-left: 30px;

        a {
          text-decoration: none;
          color: black;
        }
      }
    }

    .navbar-right {
      display: flex;
      // justify-content: space-between;
      align-items: center;
      margin-right: 20px;
      height: 100%;

      input {
        padding-left: 10px;
        width: 275px;
        height: 30px;
        font-size: 12px;
        border: 1px solid #eeeff2;
        border-radius: 20px;
        background-color: #f7f8fa;

        &:focus {
          outline: none;
          border: 1px solid #0099e5;
          transition: border-color 0.2s;
        }
      }

      .user-profile-options {
        position: relative;
        display: inline-block;

        .user-profile-dropdown {
          display: none;
          position: absolute;
          border: 1px solid black;
          margin-top: 15px;
          margin-left: 35px;
          padding: 10px;
          z-index: 1;

          ul {
            display: block;
            li {
              margin: 10px 0;
            }
          }
        }

        &:hover .user-profile-dropdown {
          display: block;
        }
      }

      .navbar-right-logout {
        margin-left: 60px;

        &:hover {
          cursor: pointer;
        }
      }

      .navbar-upload {
        display: flex;
        margin: 0;
        margin-left: 30px;
        padding: 0 18px;
        align-items: center;
        height: 30px;
        color: white;
        font-weight: bold;
        border: 1px solid #34bf49;
        border-radius: 20px;
        background-color: #34bf49;
        outline: none;

        &:hover {
          background-color: #38cf4f;
        }

        i {
          color: white;
        }

        p {
          margin-left: 5px;
        }
      }
    }
  }

  #navbar-main {
    display: flex;
    align-self:flex-start;
    min-width: 600px;
    width: 100%;
    background-color: transparent;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    padding: 20px 0 20px 0;

    .navbar-left {
      display: flex;
      align-items: center;

      #logo {
        color: white;
        margin-left: 50px;
      }

      .navbar-links-main {
        margin-left: 30px;

        a {
          text-decoration: none;
          color: white;
          font-size: 13px;
        }
      }
    }

    .navbar-right {
      margin-right: 50px;

      a {
        text-decoration: none;
        font-size: 13px;
      }

      .navbar-login {
        width: 80px;
        height: 30px;
        margin-left: 30px;
        color: white;

        a {
          text-decoration: none;
        }
      }

      .navbar-signup {
        background-color: #e6065f;
        border: 1px solid #e6065f;
        border-radius: 20px;
        width: 80px;
        height: 30px;
        margin-left: 30px;
        padding: 0;

        a {
          display: flex;
          justify-content: center;
          text-decoration: none;
          color: white;
          font-size: 13px;
        }
      }
    }

    input {
      // margin-left: 800px;
      padding-left: 10px;
      width: 275px;
      height: 30px;
      font-size: 12px;
      border: 1px solid #eeeff2;
      border-radius: 20px;
      background-color: #f7f8fa;

      &:focus {
        outline: none;
        border: 1px solid #0099e5;
        transition: border-color 0.2s;
      }
    }


  }

  #navbar-alt {
    display: flex;
    align-self:flex-start;
    min-width: 600px;
    width: 100%;
    margin-bottom: 200px;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 0;

    .navbar-alt-left {
      margin-left: 50px;

      a {
        text-decoration: none;
      }
    }

    .navbar-alt-right {
      margin-right: 50px;
    }

    input {
      // margin-left: 800px;
      padding-left: 10px;
      width: 275px;
      height: 30px;
      font-size: 12px;
      border: 1px solid #eeeff2;
      border-radius: 20px;
      background-color: #f7f8fa;

      &:focus {
        outline: none;
        border: 1px solid #0099e5;
        transition: border-color 0.2s;
      }
    }

    .navbar-alt-signup {
      background-color: #34bf49;
      border-color: #2fab41;
      border-radius: 3px;
      width: 80px;
      height: 30px;
      margin-left: 30px;

      a {
        text-decoration: none;
        color: white;
        font-size: 14px;
      }

      &:hover {
        cursor:pointer;
        background-color: #38cf4f;
      }
    }
  }
}
