@-webkit-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1;}
}

#iso-app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  -webkit-animation: fadein 1s;

  #navbar-alt {
    display: flex;
    align-self:flex-start;
    min-width: 600px;
    width: 100%;
    margin-bottom: 200px;
    background-color: white;
    align-items: center;
    justify-content: space-between;

    .navbar-alt-right {
      margin-right: 20px;
    }

    input {
      // margin-left: 800px;
      padding-left: 10px;
      width: 275px;
      height: 30px;
      font-size: 12px;
      border: 1px solid #eeeff2;
      border-radius: 20px;
      background-color: #f7f8fa;

      &:focus {
        outline: none;
        border: 1px solid #0099e5;
        transition: border-color 0.2s;
      }
    }

    .navbar-alt-signup {
      background-color: #34bf49;
      border-color: #2fab41;
      border-radius: 3px;
      width: 80px;
      height: 30px;
      margin-left: 30px;

      a {
        text-decoration: none;
        color: white;
        font-size: 14px;
      }

      &:hover {
        cursor:pointer;
        background-color: #38cf4f;
      }
    }
  }
}
